# pyproject.toml

# Hatchling  https://packaging.python.org/en/latest/key_projects/#hatch
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "pynut3"
version = "0.3.0"
dependencies = []
authors = [
  { name="Mausy5043", email="mausy5043@example.com" },
]
description = "A Python3 abstraction class to access NUT servers for uninterruptible power supplies (UPS)."
readme = "README.md"
requires-python = ">=3.2"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/Mausy5043/python-nut3"
"Bug Tracker" = "https://github.com/Mausy5043/python-nut3/issues"
